
body{
    background-color: aliceblue;
}

#principal{
    background-color: rgb(235, 231, 231);
    border: 3px solid grey;
    width: 950px;


}

.galeria{
    background-color: azure;
    border: 3px solid grey;
    margin: 10px;
    padding: 10px;

    width: 265px;
    float: left;
}

.noticia{
    background-color: cadetblue;
    border: 1px solid grey;
    
    width: 250px;

    margin: 10px;
    padding: 20px;
    float: left;
}

.Conteudo{
    background-color: cadetblue;
    border: 1px solid grey;
    
    width: 150px;
    height: 150px;

    float: left;
    margin: 10px;
}

.texto{
    background-color: crimson;
    border: 1px solid grey;
    
    width: 50px;
    height: 50px;

    float: left;
}

.clear{
    /*Limpa o fluxo flutuante*/
    clear: both;
}

/*
.Conteudo1{
    background-color: crimson;
    border: 1px solid grey;
    
    width: 50px;
    height: 50px;

    float: left;
}

*/
